#include "keys_de.h"
#define COMBO_TERM_FAST 25
#define COMBO_TERM_SLOW 50

/*                   50 KEY MATRIX / LAYOUT MAPPING

  ╭────────────────────────────────┬───────────────────────────────╮
  │  0   1   2   3   4   5         │          6   7   8   9 10  11 │
  │ 12  13  14  15  16  17         │         18  19  20  21 22  23 │
  │ 24  25  26  27  28  29  30  31 │ 32  33  34  35  36  37 38  39 │
  ╰───────────╮ 40  41  42  43  44 │ 45  46  47  48  49 ╭──────────╯
              ╰────────────────────┴────────────────────╯           
*/


ZMK_COMBO(c_esc, &kp ESC, 1 13, ALL, COMBO_TERM_SLOW)
ZMK_COMBO(tab, &kp TAB, 13 25, ALL, COMBO_TERM_SLOW)

ZMK_COMBO(ae, &kp SQT, 16 4, 0 1, COMBO_TERM_SLOW)
ZMK_COMBO(oe, &kp SEMI, 16 17, 0 1, COMBO_TERM_SLOW)
ZMK_COMBO(ue, &kp LEFT_BRACKET, 16 3, 0 1, COMBO_TERM_SLOW)
ZMK_COMBO(sz, &sz, 21 35, 0 1, COMBO_TERM_SLOW)

ZMK_COMBO(sz2  , &sz, 10 22, 0 1, COMBO_TERM_SLOW)
ZMK_COMBO(q, &kp Q, 22 38, 0 1, COMBO_TERM_SLOW)
ZMK_COMBO(at, &kp DE_AT, 22 38, 2, COMBO_TERM_SLOW)
